.header{
    background-color:#fff;
    @include clearfix;
    padding:10px 0px;

    .logo{
        width:30%;
        float:left;
        margin-top:5px;
        img{
            width:200px;
        }
    
        
    }
    .main-menu{
        width:70%;
        float:left;
        ul {
            text-align: right;
            margin-top:5px;
        }
        li{
            display: inline-block;
        }
        a{
           color:#333;
           padding:10px 20px;
           text-decoration: none;
           display: inline-block;
           font-size: 16px;
           text-transform: uppercase;
           border-radius: 5px;
           font-weight: 500;
           &:hover{
            background-color: $primary_color;
            color:$secondary_color;
    
            }
        }
        
    }
    
}